<div class="screen" id="screen-settings">
<h2><i data-lucide="settings" class="icon-sm"></i> Settings</h2>
<div class="card">
<div class="form-group"><input class="form-control" checked="" type="checkbox"/> Receive SMS Alerts</div>
<div class="form-group"><input class="form-control" checked="" type="checkbox"/> Receive Email Alerts</div>
<div class="form-group"><input class="form-control" type="checkbox"/> Enable Auto-Pay for Renewals</div>
<button class="btn">Save Preferences</button>
</div>
</div>